.clients-section {
  // padding: 94px 0;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  height: 100%;
}
.clients-section > .container {
  margin-left: auto;
  margin-right: auto;
}

.clients-list {
  padding: 0;
  margin: 0;
  list-style: none;
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
    margin-right: auto;
    margin-left: auto;
  }
}
.clients-list__item {
  // @extend %centeredFlex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $light-grey-color;
  width: 100%;
  padding: 16px 32px;
  @media screen and (max-width: 767px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    height: 92px;
    width: 170px;
    padding: 16px 32px;
  }

  &:hover {
    border-color: $accent-color-blue;
    cursor: pointer;
  }
}

.clients-list__link {
  color: $light-grey-color;
  @include transition(color);

  .clients-list__item:hover & {
    color: $accent-color-blue;
    cursor: pointer;
  }
}
