.menu-mobile-icon {
  min-height: 40px;
  min-width: 40px;
  background-size: contain;
  background-color: white;
  background-repeat: no-repeat;
  fill: $primary-text-color;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 50%;

  .menu-toggle:hover + & {
    fill: $accent-color-blue;
  }
  .menu-toggle:focus + & {
    fill: $accent-color-blue;
  }
}
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  @media screen and (max-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-nav {
  position: absolute;
  background-color: $primary-white-color;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 101;

  .container {
    position: relative;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    @media screen and (min-width: 480px) {
      max-width: 480px;
      width: 100%;
    }
  }
  .menu-close {
    position: absolute;
    right: 10px;
    top: 8px;
  }
}

.mob-menu__item,
.mob-contacts__item {
  margin-bottom: 32px;
}
.mob-menu__link {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17em;
  text-align: center;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  text-decoration: none;
}
.mob-contacts-mail__link {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1em;
  letter-spacing: 0.02em;
}
.mob-contacts-tel__link {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17em;
  letter-spacing: 0.02em;
}
.mob-media {
  display: flex;
  align-items: flex-end;
  justify-content: start;
  margin-top: 64px;
}

.mob-media__link {
  font-family: $main-font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
}
.mob-media__item {
  margin-right: 10px;
  padding-right: 10px;
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
.mobile-nav.is-hidden {
  opacity: 0;
  pointer-events: none;
}
