$main-font: 'Roboto';
$accent-font: 'Raleway';
$primary-text-color: #212121;
$primary-white-color: #ffff;
$accent-color-blue: #2196f3;
$accent-color-grey: #757575;
$link-color: rgba(255, 255, 255, 0.6);
$projects-set-gap: 30px;
$bg-section-color: #f5f4fa;
$light-grey-color: #afb1b8;
$footer-bg-color: #2f303a;
